/* All colors */

/* 
  --primary-text-color: #757575;
  --title-text-color:#212121;
  --accent-color:#2196F3;
  --primary-white-color: #FFFFFF;
  --bgc-team-section: #F5F4FA;
  --bgc-work-section: rgba(47, 48, 58, 0.8); */


/* Buttons style */
/* ....... */


/* Portfolio Section */

.section-title{
  display: none;
}

.portfolio-nav {
  display: flex;
  align-items: center;
}

.portfolio-nav .item +.item {
  margin-left: 8px;
}

.portfolio-menu {
  margin-bottom: 50px;
  width: 642px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  margin-right: 30px;
  margin-bottom: 30px;
  /* border: 1px solid #EEEEEE;
  box-sizing: border-box; */
}

.portfolio .item:nth-child(3n) {
  margin: 0 0;
}
.portfolio .link{
  text-decoration: none;
}

.portfolio .title{
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;

  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 20px;
  margin-bottom: 8px;
}

.portfolio .category{
  color:var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 20px;
}

.portfolio .description{
  background-color: teal;
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}